@{
    ViewData["Title"] = "Home Page";
}

<div class="flex-center-container">
    <section class="departments py-lg-5">
        <div class="container py-5">
            <div class="text-center wthree-title pb-sm-5 pb-3">
                <h3 class="w3l-sub text-white">Departments</h3>
                <h4 class="sub-title py-3 text-black">Free checkup</h4>
            </div>
            <div class="row py-lg-5">
                <!-- Neurology Section -->
                <div class="col-sm-4 w3-ab imgIndex1">
                    <div class="w3-ab-grid text-center">
                        <div class="w3-aicon p-4">
                            <i class="fa fa-stethoscope" aria-hidden="true"></i>
                            <h4 class="my-3 text-capitalize text-black">Neurology</h4>
                        </div>
                    </div>
                </div>
                <!-- Traumatology Section -->
                <div class="col-sm-4 w3-ab imgIndex2">
                    <div class="w3-ab-grid text-center">
                        <div class="w3-aicon p-4">
                            <i class="fa fa-wheelchair" aria-hidden="true"></i>
                            <h4 class="my-3 text-capitalize text-black">Traumatology</h4>
                        </div>
                    </div>
                </div>
                <!-- Dentistry Section -->
                <div class="col-sm-4 w3-ab imgIndex3">
                    <div class="w3-ab-grid text-center">
                        <div class="w3-aicon p-4">
                            <i class="fa fa-plus-square" aria-hidden="true"></i>
                            <h4 class="my-3 text-capitalize text-black">Dentistry</h4>
                        </div>
                    </div>
                </div>
                <!-- Cardiology Section -->
                <div class="col-sm-4 mt-4 w3-ab imgIndex4">
                    <div class="w3-ab-grid text-center">
                        <div class="w3-aicon  p-4">
                            <i class="fa fa-heartbeat" aria-hidden="true"></i>
                            <h4 class="my-3 text-capitalize text-black">Cardiology</h4>
                        </div>
                    </div>
                </div>
                <!-- Pulmonary Section -->
                <div class="col-sm-4 mt-4 w3-ab imgIndex5">
                    <div class="w3-ab-grid text-center">
                        <div class="w3-aicon p-4">
                            <i class="fa fa-medkit" aria-hidden="true"></i>
                            <h4 class="my-3 text-capitalize text-black">Pulmonary</h4>
                        </div>
                    </div>
                </div>
                <!-- Pediatrics Section -->
                <div class="col-sm-4 mt-4 w3-ab imgIndex6">
                    <div class="w3-ab-grid text-center">
                        <div class="w3-aicon p-4">
                            <i class="fa fa-ambulance" aria-hidden="true"></i>
                            <h4 class="my-3 text-capitalize text-black">Pediatrics</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
