@model Hospital2.Models.Appointment

@{
    ViewBag.Title = "Appointment";
}

<div class="flex-center-container">
    <section class="case_w3ls py-lg-5">
        <div class="container py-5">
            <div class="text-center wthree-title pb-sm-5 pb-3">
                <h3 class="w3l-sub">Medical Services</h3>
                <h4 class="sub-title py-3">The supposed users of a hospital management system may be generally following tasks.</h4>
            </div>
            <!-- case studies row -->
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="imgA1 img-grid d-flex align-items-end justify-content-center p-3">
                        <div class="img_text_w3ls">
                            <h4>Emergency Help</h4>
                            <span> </span>
                            <p>Doctors and other authorized</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 my-md-0 mt-4">
                    <div class="imgA2 img-grid d-flex align-items-end justify-content-center p-3">
                        <div class="img_text_w3ls">
                            <h4>Heart Surgery</h4>
                            <span> </span>
                            <p>MD & MBBS Doctors</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 my-lg-0 mt-4">
                    <div class="imgA3 img-grid d-flex align-items-end justify-content-center p-3">
                        <div class="img_text_w3ls">
                            <h4>Emergency Care</h4>
                            <span> </span>
                            <p>Doctors and other authorized</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4">
                    <div class="imgA4 img-grid d-flex align-items-end justify-content-center p-3">
                        <div class="img_text_w3ls">
                            <h4>Dental Care</h4>
                            <span> </span>
                            <p>A -Class Doctor Provides</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4">
                    <div class="imgA5 img-grid d-flex align-items-end justify-content-center p-3">
                        <div class="img_text_w3ls">
                            <h4>Individual Approach</h4>
                            <span> </span>
                            <p>Doctors and other authorized</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4">
                    <div class="imgA6 img-grid d-flex align-items-end justify-content-center p-3">
                        <div class="img_text_w3ls">
                            <h4>Qualified Doctors</h4>
                            <span> </span>
                            <p>Doctors and other authorized employees</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //case studies row -->
        </div>
    </section>
</div>

<div class="text-center mt-5">
    <a href="@Url.Action("Create", "Appointment")" class="btn btn-primary">Schedule an Appointment</a>
</div>
